<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <!--        <li class="nav-item active">-->
        <!--            <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>-->
        <!--        </li>-->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'alteracao-odontologica-list' %}">Alterações Odont.</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cirurgia-list' %}">Cirurgias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cliente-list' %}">Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'clinica-list' %}">Clinicas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'consulta-list' %}">Consultas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'paciente-list' %}">Pacientes</a>
        </li>
        <!--        <li class="nav-item dropdown">-->
        <!--            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"-->
        <!--               aria-haspopup="true" aria-expanded="false">Settings</a>-->
        <!--            <div class="dropdown-menu" aria-labelledby="dropdown01">-->
        <!--                <a class="dropdown-item" href="#">Action</a>-->
        <!--                <a class="dropdown-item" href="#">Another action</a>-->
        <!--                <a class="dropdown-item" href="#">Something else here</a>-->
        <!--            </div>-->
        <!--        </li>-->
    </ul>

</div>